@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v17-cyrillic_latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2');
}

:root {
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --color-secondary-grey-light: #747272;
  --color-secondary-grey-dark: #4a4a4a;
  --color-secondary-blue: #011f4a;
  --color-secondary-yellow: #ffd02b;
}

body {
  font-family: 'Roboto';
  color: var(--color-brand-dark);
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  color: var(--color-brand-light);
  font-family: 'Play';
  font-weight: 700;
  font-size: 140px;
}

h2 {
  font-family: 'Play';
  font-weight: 700;
  font-size: 64px;
}

.text-about {
  font-size: 22px;
  line-height: 1.7;
  color: var(--color-brand-dark);
}

.text-hero {
  font-size: 18px;
  line-height: 1.2;
  color: var(--color-brand-dark);
}

.accent {
  color: var(--color-brand-light);
}

button {
  background: var(--color-brand-light);
  border: solid 2px var(--color-brand-light);
  color: white;
  padding: 16px 32px;
  border-radius: 32px;
  font-size: 18px;
  font-weight: 600;
}

button:hover {
  border: solid 2px var(--color-brand-light);
  background: transparent;
  color: var(--color-brand-dark);
  padding: 16px 32px;
  border-radius: 32px;
  font-size: 18px;
  font-weight: 600;
}

.text-button {
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-secondary-grey-dark);
}

.nav-link {
  text-decoration: none;
  color: var(--color-brand-dark);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

.nav-link:hover {
  color: var(--color-brand-light);
}

.nav-link-footer {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.address-link {
  text-decoration: none;
  color: white;
}

.copyright {
  font-size: 13px;
  color: var(--color-secondary-grey-light);
}
