.section {
  padding: 20px 0;

  @media screen and (min-width: $bp-tablet) {
    padding: 48px 0;
  }

  &__title {
    font-family: 'Play';
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;

    &--centered {
      text-align: center;
    }

    @media screen and (min-width: $bp-tablet) {
      font-size: 48px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 64px;
      margin-bottom: 48px;
    }
  }
}
